*{
	margin: 0;
	padding: 0;
}

body{
	background-color:#fff;
	font-family: sans-serif;
	font-size: 18px;
	font-weight: bold;
	position: relative;
}

/*Global*/
.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}

.showcase{
  background:url('../image/showcase.jpg') no-repeat;
  background-position:center;
  background-size: cover;
  height: 800px;
  max-width: auto;
  padding: 140px 100px;
  margin: 0 auto;
  text-align: center;
  color:#fff;
}

.showcase h1,h6{
	padding: 50px 50px;
	margin: 0 auto;
}

.showcase h6{
	padding:35px;
}

.about{
	background-color: #9c909f;
	margin: 0 auto;
	padding:0 auto;
    font-size:12px;
	text-align: center;
	color: #ffffff;
}

#services{
	background-color: #fff;
	margin: 0 auto;
	padding: 0 auto;
	font-size: 12px;
}

#services h3{
	text-align: center;
}

#rates1{
	border:2px solid black;
	border-radius: 15px;
	margin: 50px 50px;
	padding: 10px 30px;
}

#rates2{
	border:2px solid black;
	border-radius: 15px;
	margin: 50px 50px;
	padding: 10px 30px;
}

#rates3{
	border:2px solid black;
	border-radius: 15px;
	margin: 50px 50px;
	padding: 10px 30px;
}

#rates h1{
	text-align: center;
}
